.App {
  text-align: center;
  width: 100%;
}

.App .row {
  width: 100%;
}

.App .user-info {
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px
}

.App .user-info img {
  width: 20px;
  height: 20px;
}

/* .App .user-info .time-signin{
  font-size: 10px
} */
.Navbar img {
  width: 40px;
  height: 40px;
}

.Navbar .search {
  text-align: left;
}

.Navbar .search {
  text-align: center;
}

.Navbar .search ul li {
  list-style-type: none;
  display: inline-block;
}

.Navbar li.search-input {
  width: 80%;
  margin-top: 7px;
}

.Navbar li.search-button {
  margin-left: 20px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.user-info label {
  margin-right: 15px;
}

.login {
  margin-left: 30px;

}


.body {
  margin: 0px auto;
  font-family: 'Courier New', Courier, monospace;
  width: 80%;
  text-align: center;
  /* background: blue; */
}

.body img {
  width: 200px;
  height: 200px;
}

#formInfo {
  margin: 0px auto;
  margin-top: 20px;
  /* border: 1px solid #cccc; */
  /* border-radius: 3px; */
  width: 60%;
  /* background: red; */
}

#formInfo Button {
  margin-top: 20px;
  margin-bottom: 20px;
}

#formInfo .form-label {
  margin-top: 20px;

}

.form-control {
  align: center;
}

.video-item {
  margin-top: 20px;
  flex-direction: column;
  width: 300px;
  height: 200px;
}
